In [8]:
import pandas as pd
import json

In [14]:
with open('../databases/stock.json', 'r', encoding='utf-8') as f:
    datas = json.load(f)
df = pd.DataFrame(datas)
display(df)
df.to_excel('../databases/stock.xlsx', index=False, engine='openpyxl')

,id,name,description,image_url,type,size,price,currency
0,TSHIRT-001,Classic White Tee,100% cotton crew neck t-shirt,white_tee.jpg,Men's Top,M,19.99,USD
1,TSHIRT-002,Classic White Tee,100% cotton crew neck t-shirt,white_tee.jpg,Men's Top,M,19.99,USD